/* ---------- Color Module Styles ----------- */

/* Main background */

body { background-color:#eeeeee; }

/* Menu */

#wrap { border-top: 3px solid #0bdcdf; }

#main-menu .menu a.active, #main-menu .menu ul a.active { background: #0bdcdf; }

#main-menu .menu a.active-trail { background: #0bdcdf; }

#sitename h1 a:hover, #sitename h2 a:hover { color: #0bdcdf; }

/* Menu Hover */

#main-menu .menu a:focus,
#main-menu .menu a:hover,
#main-menu .menu a:active,
#main-menu .menu ul a:focus,
#main-menu .menu ul a:hover,
#main-menu .menu ul a:active { background: #3fcf07 }

/* Link */

a { color: #ee4bf1; }

a:hover { color: #0bf4e7; }

.links li a:hover, .field-name-field-tags a:hover { color: #0bf4e7; }

/* Button */

.form-submit { background: #d515d6; border-color:#d515d6; }

.form-submit:hover { background: #6a42d6; }